html {
  scroll-behavior: smooth;
}

.addDataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fcfcfc;
}

.noDataWrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}